.left {
    position: absolute;
    left: 0;
}

.right {
    position: absolute;
    right: 0;
}

a {
    font-family: arial,sans-serif;
    opacity: 0.75;
    font-size: 13px;
    padding: 10;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.button {
    padding: 10px;
    background-color: #f2f2f2;
}